body{
    background-image: url(zdjecieJedzenia2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

}
html,body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    height: 100%;
}
header{

    padding: 10px 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(290px,1fr));
    grid-gap: 0.7em;
    background-color: rgb(16, 189, 151);

    color: white;
    font-size: 32px;
    justify-content: space-between;
}
#header1{
    display: flex;
    justify-content: left;
    text-align: center;
    align-items: center;
    font-family: "Teko", sans-serif;
    font-size: 52px;
}
#header2{

    font-size: 36px;
    display: flex;
    text-align: center;
    justify-content: right;
    align-items: center;
}
 @media(max-width:560px){
    #header1{
        justify-content: center;
    }
    #header2{
        justify-content: center;
    }
}

.logowanie{

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px;

    background-color: rgb(124 255 147);
    color: rgb(0, 0, 0);
    font-size: 10px;
    font-family: "Teko", sans-serif;
    font-family: cursive;
    font-weight: bold;

    cursor: pointer;
    border: none;
}



.przelaczniki{

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px;

    background-color: rgb(124 255 147);
    color: rgb(0, 0, 0);
    font-size: 10px;
    font-family: "Teko", sans-serif;
    font-family: cursive;
    font-weight: bold;
    

    cursor: pointer;
    border: none;
}

#header4{

    background-color: aliceblue;
    border-radius: 25px;
    width: 40%;
    height: 80%;

    font-size: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
 @media(max-width:560px){
    #header1{
        justify-content: center;
    }
    #header2{
        justify-content: center;
    }
}


main{
    display: flex;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
}
.card-items{
    width: 200px;
    height: 240px;

    margin: 10px;
    margin-top: 60px;

    border-radius: 25px;
    background-color: aliceblue;
}
.card-items img {
    width: 100%; /* Ustawienie szerokości obrazu na 100% */
    height: auto;
    display: block;
    border-radius: 25px; /* Zaokrąglenie obrazów */
}
.card-names{
    height: 40px;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgb(231, 255, 235);
    color: rgb(80, 255, 89);
    font-weight: bold;
    font-size: 22px;

    display: flex;
    justify-content: center;
    align-items: center;
}